<%- include('partials/header') %>

<style>
	nav {
		box-shadow: 0px 0px 7px #0000001c;
	}
	.body-top-padding {
		margin-top: 1.5rem;
	}
</style>

<!--Navbar-->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<div class="navbar-item">
			<%=username%>
		</div>
		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a href="/logout" class="button is-danger">
						<strong>Logout</strong>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>

<!--Popup-->
<div class="modal" id="modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title" id="modal-title">Loading</p>
			<button class="delete" aria-label="close" onclick="hideModal()"></button>
		</header>
		<section class="modal-card-body" id="modal-body">
			<progress class="progress is-small is-primary" max="100"></progress>
		</section>
		<footer class="modal-card-foot" id="modal-footer"></footer>
	</div>
</div>

<!--Content-->
<section class=" section body-top-padding">
	<div class="container is-widescreen">
		<div class="notification">
			<div class="columns">
				<div class="column is-one-third-tablet is-one-quarter-desktop">
					<figure class="image is-square">
						<img class="is-rounded" src="<%= profileImage %>" />
					</figure>
				</div>
				<div class="column">Other stuff</div>
			</div>
			<div class="is-divider" data-content="OR"></div>
			<div class="columns">
				<div class="column is-one-third-tablet is-one-quarter-desktop">
					<aside class="menu">
						<p class="menu-label">
							General
						</p>
						<ul class="menu-list">
							<li><a class="is-active triggersRequest" data-returnto="dashboard" data-method="GET" data-route="/profile/dashboard">Dashboard</a></li>
							<!-- <li><a>Analytics</a></li> -->
						</ul>
						<p class="menu-label">
							Settings
						</p>
						<ul class="menu-list">
							<!-- <li>
								<a>Profile Page</a>
								<ul>
									<li><a>General</a></li>
									<li><a>Theme</a></li>
								</ul>
							</li>
							<li><a>Connected Accounts</a></li> -->
							<li><a class="triggersRequest" data-returnto="dashboard" data-method="GET" data-route="/profile/account-settings">Account Settings</a></li>
						</ul>
					</aside>
				</div>
				<div class="column" id="settings-page">
					<%- include('partials/dashboard/dash') %>
				</div>
			</div>
		</div>
	</div>
</section>

<!--Toggle Navbar-->
<script src="/src/js/profileSettingsPage.js"></script>
<script src="/src/js/navToggle.js"></script>

<%- include('partials/footer') %>
